.AboutMe {
  margin-left: 5vw;
  margin-right: 5vw;
}

.AboutMeHeader {
  text-align: center;

  h1 {
    display: inline-block;
    margin: 2vw;
  }
}

.AboutMeImage {
  width: 25vw;
  float: left;
  margin: 2.5vw 1vw 1vw 2vw;
}

.AboutMeContent {
  margin: 2vw;
}
