.code {
  font-family: "Source Code Pro", monospace;
  font-size: 1.8rem;
}

.info {
  line-height: 1.4;
  width: 85%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #fff;
}

.icon:hover {
  transform: scale(1.5);
  color: #ff8a00;
}

.header {
  font-size: 4rem;
}

.AlternateHeader {
  padding: 2vw 5vw 2vw 5vw;
}

.info-link {
  text-decoration: none;
  color: #2244FF;
}

.info-link:hover {
  text-decoration: none;
  color: #2244FF;
}

.code-text {
  font-size: 1.4rem;
}
