@media only screen and (max-width: 500px) {
  .AboutMeImage {
    float: none;
    margin: 5vw;
    width: 80vw;
  }

  .AboutMeContent {
    padding: 5vw;
  }

  .info {
    margin: 5vw;
  }

  .icon {
    padding: 0;
  }
}
