@import './pages/HomePage';
@import './pages/AboutMe';
@import './pages/BlogPost';

@import './components/ListPosts';
@import './components/Card.scss';

@import './MobileChanges';

html {
  background: linear-gradient(to right, #1f2b3b, #102030) !important;
  color: #fff !important;
  /* font-size: 2em; */
  font-family: "Poppins", sans-serif !important;

  body {
    background-image: linear-gradient(to right, #1f2b3b, #102030) !important;
    color: #fff !important;
    font-size: 20px !important;
    font-family: "Poppins", sans-serif !important;
  }
}
